urxvt*scrollBar: false
urxvt*background: #ffffff
urxvt*foreground: #000000
urxvt*font: xft:Ubuntu Mono:size=13
urxvt*letterSpace: 1
urxvt*iso14755: False
urxvt*iso14755_52: False
urxvt*geometry: 80x24
urxvt*termName: rxvt-256color
urxvt*cursorColor: #ff0066
urxvt*internalBorder: 0
urxvt*externalBorder: 0

xterm*font:     *-fixed-*-*-*-18-*
xterm*faceName: Ubuntu Mono:size=13:antialias=false
xterm*background: #ffffff
xterm*foreground: #000000
xterm*geometry: 80x24
