URxvt*scrollBar: false
URxvt*depth: 32
URxvt*background: #F5F5F5
URxvt*foreground: #000000
URxvt*font: xft:Terminus:size=12
URxvt*letterSpace: 0
URxvt*iso14755: False
URxvt*iso14755_52: False
URxvt*geometry: 80x25
URxvt*cursorColor: #AA00CC
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*termName: xterm-color

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Xft.dpi:        96
Xft.dpi: 96
Xft.antialias: 0
Xft.hinting:    1
Xft.rgba:       rgb
Xft.hintstyle:  hintfull

xterm*font: -Misc-Fixed-Medium-R-Normal--18-120-100-100-C-90-ISO10646-1
xterm*background: #181A26
xterm*foreground: #FFFFFF
xterm*geometry: 80x24
