[Desktop Entry]
Name[lt]=Redshift
StartupNotify=true
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Name[de]=Redshift
Name[tr]=Redshift
GenericName[fr]=Réglage de la température de couleur
GenericName[nl]=Kleurtemperatuur aanpassing
Comment[es]=Herramienta para el ajuste de la temperatura de color
Name=Redshift
GenericName[de]=Farbtemperatur Anpassung
Type=Application
Comment[da]=Justeringsværktøj for farvetemperatur
Name[zh_CN]=红移
GenericName[it]=Regolazione della temperatura del colore
Comment=Color temperature adjustment tool
GenericName[zh_CN]=色温调节
GenericName[es]=Ajuste de la temperatura de color
X-GNOME-Autostart-enabled=true
Name[ru]=Redshift
Comment[hu]=Színhőmérséklet beállító eszköz
Comment[zh_CN]=色温调节工具
Icon=redshift
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Name[hu]=Redshift
GenericName[ru]=Настройка цветовой температуры
Name[pt_BR]=Redshift
GenericName[pl]=Dostosowanie temperatury barwowej
Comment[it]=Strumento per la regolazione della temperatura del colore
Hidden=false
Comment[ru]=Инструмент регулирования цветовой температуры
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Version=1.0
Name[pl]=Redshift
Name[fr]=Redshift
GenericName[lt]=Spalvos temperatūros reguliavimas
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
GenericName[da]=Justering af farvetemperatur
Categories=Utility;
GenericName[hu]=Szín hőmérséklet beállítás
Comment[fr]=Outil de réglage de la température de couleur
Name[es]=Redshift
Terminal=false
Comment[tr]=Renk sıcaklığı ayarlama aracı
Exec=redshift-gtk -l 57:12
Comment[de]=Farbtemperatur Anpassungswerkzeug
GenericName[cs]=Přizpůsobení barevné teploty
GenericName[tr]=Renk sıcaklığı ayarı
Name[it]=Redshift
GenericName=Color temperature adjustment

