[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/glas/Desktop/Firefox.desktop]
row=7
col=0

[/home/glas/Desktop/GNU Octave.desktop]
row=6
col=0

[/home/glas/Desktop/Mumble.desktop]
row=8
col=0

[/home/glas/Desktop/teamspeak.desktop]
row=0
col=0

[/home/glas/Desktop/Steam.desktop]
row=0
col=1

[79CA-4751]
row=1
col=0

[B9C7-7608]
row=1
col=1

[FA62989962985C67]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/glas]
row=5
col=0

